In [6]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as scikit

In [11]:
dirname = os.getcwd()
dataset_path = os.path.join(dirname, 'data/adult_dataset/adult.data')

In [12]:
dataframe = pd.read_csv(dataset_path, header=None, names=["Age","Work Class","Final Weight","Education","Education Num", "Marital Status","Occupation","Relationship","Race","Sex","Capital Gain","Capital Loss","Hours Per Week","Native Country","Income Class"])
dataframe.head(5)

,Age,Work Class,Fnlwgt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours Per Week,Native Country,Income Class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
print(dataframe.shape)
dataframe.describe()

(32561, 15)

,Age,Fnlwgt,Education Num,Capital Gain,Capital Loss,Hours Per Week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### Cleaning string values from any leading or trailing whitespaces:

In [25]:
dataframe = dataframe.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [28]:
print(dataframe[dataframe["Age"] < 18].shape)

(395, 15)

In [36]:
dataframe["Native Country"].value_counts()
print(dataframe[dataframe["Native Country"] != "United-States"].shape)

(3391, 15)

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: Native Country, dtype: int64

In [47]:
dataframe.groupby("Sex")["Income Class"].value_counts()

Sex     Income Class
Female  <=50K            9592
        >50K             1179
Male    <=50K           15128
        >50K             6662
Name: Income Class, dtype: int64